In [1]:
%load_ext sql

In [2]:
%sql postgresql+psycopg2://localhost:5432/intro_to_sql_for_analytics

In [3]:
%%sql

SELECT
    *
FROM billboard_top_100_year_end
LIMIT 5

 * postgresql+psycopg2://localhost:5432/intro_to_sql_for_analytics
5 rows affected.

[(0, 1956, 1, 'Elvis Presley', 'Elvis Presley', 'Heartbreak Hotel', 1.0),
 (1, 1956, 2, 'Elvis Presley', 'Elvis Presley', "Don't Be Cruel", 2.0),
 (2, 1956, 3, 'Nelson Riddle', 'Nelson Riddle', 'Lisbon Antigua', 3.0),
 (3, 1956, 4, 'Platters', 'Platters', 'My Prayer', 4.0),
 (4, 1956, 5, 'Gogi Grant', 'Gogi Grant', 'The Wayward Wind', 5.0)]

In [4]:
%sql SELECT * FROM billboard_top_100_year_end LIMIT 5

 * postgresql+psycopg2://localhost:5432/intro_to_sql_for_analytics
5 rows affected.

[(0, 1956, 1, 'Elvis Presley', 'Elvis Presley', 'Heartbreak Hotel', 1.0),
 (1, 1956, 2, 'Elvis Presley', 'Elvis Presley', "Don't Be Cruel", 2.0),
 (2, 1956, 3, 'Nelson Riddle', 'Nelson Riddle', 'Lisbon Antigua', 3.0),
 (3, 1956, 4, 'Platters', 'Platters', 'My Prayer', 4.0),
 (4, 1956, 5, 'Gogi Grant', 'Gogi Grant', 'The Wayward Wind', 5.0)]